<h1>El registro fue almacenado con éxito!</h1>
<p>Detalle: <%= @sale.detail %></p>
<p>Categoria: <%= @sale.category %></p>
<p>Valor: <%= @sale.value %></p>
<p>Descuento: <%= @sale.discount %></p>
<p>Valor IVA: <%= @sale.tax %></p>
<p>Valor Total: <%= @sale.total %></p>
<p><%= link_to "Volver", sales_path %></p>