<h1>SHOW VENTA <%= @sale.cod %></h1>
<p>Detalle: <%= @sale.detail %></p>
<p>Categoria: <%= @sale.category %></p>
<p>Valor: <%= @sale.value %></p>
<p>Descuento: <%= @sale.discount %></p>
<p>Valor IVA: <%= @sale.tax %></p>
<p>Valor Total: <%= @sale.total %></p>